body {
  padding-top: 70px;
}

.contact-bg {
  background-image: url('./img/intro-bg2.jpg');
  background-size: cover;
}
.contact-t {
    color: white;
}
.hover-effect {
  filter: none;
}
.hover-effect:hover {
    filter: grayscale(100%);
  }